<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <script src="https://unpkg.com/kotlin-playground@1"></script>
    <script>document.addEventListener('DOMContentLoaded', function() { KotlinPlayground('.code-blocks-selector'); });</script>

    <title>aoc2021 by Omar Miatello</title>
</head>
<body>
<main class="container">
    <h1>Advent of Code 2021 - by Omar Miatello</h1>
    <p>
        Read only: <a href="https://github.com/omarmiatello/aoc-2021-in-kotlin/tree/main/src">https://github.com/omarmiatello/aoc-2021-in-kotlin/tree/main/src</a><br />
        Editable in Kotlin Playground: <a href="https://omarmiatello.github.io/aoc-2021-in-kotlin">https://omarmiatello.github.io/aoc-2021-in-kotlin</a>
    </p>

    <p>Click ▶ Run to show the result</p>
<!--items-->
</main>
</body>
</html>