<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<meta charset="UTF-8">
<html>
<head>
    <title>aoc2021 by Omar Miatello</title>
</head>
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<script src="https://unpkg.com/kotlin-playground@1"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  KotlinPlayground('.code-blocks-selector');
});
</script>

<body>
<div class="container">
<h1>Advent of Code 2021 - by Omar Miatello</h1>
<p>
Read only: <a href="https://github.com/omarmiatello/aoc-2021-in-kotlin/tree/main/src">https://github.com/omarmiatello/aoc-2021-in-kotlin/tree/main/src</a><br />
Editable in Kotlin Playground: <a href="https://omarmiatello.github.io/aoc-2021-in-kotlin">https://omarmiatello.github.io/aoc-2021-in-kotlin</a>
</p>


<p>Click ▶ Run to show the result</p>
<!--items-->
</div>
</body>
</html>